.form-wrapper
  = form_for @genre do |f|
    .field
      = f.label :name
      %br/
      = f.text_field :name, autofocus: true
    .field
      = f.label :description
      %br/
      = f.text_field :description
    .actions
      = f.submit "Submit"