.form-container
  .card-form
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-title
        Log In
      .form-body
        .form-row
          = f.label :email
          = f.email_field :email, autofocus: true
        .form-row
          = f.label :password
          = f.password_field :password, autocomplete: "off"
        - if devise_mapping.rememberable?
          .field
            = f.label :remember_me
            = f.check_box :remember_me
      .rule
      .form-footer
        = f.submit "Log in"
      .links-row
        = render "admins/shared/links"