.form-container
  .card-form
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      .form-title
        Forgot your password?
      .black-text
        = devise_error_messages!
      .form-body
        .form-row
          = f.label :email
          = f.email_field :email, autofocus: true
        .rule
        .form-footer
          = f.submit "Send me reset password instructions"
        .links-row
          = render "admins/shared/links"
