.form-container
  .card-form
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      .form-title
        Edit #{resource_name.to_s.humanize}
      .black-text
        = devise_error_messages!
      .form-body
        .form-row
          = f.label :email
          = f.email_field :email, autofocus: true
        .form-row
          = f.label :name
          = f.text_field :name
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          .black-text
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        .form-row
          = f.label :password
          = f.password_field :password, autocomplete: "off"
        .form-row
          .black-text
            %i (leave blank if you don't want to change it)
          .black-text
            - if @minimum_password_length
              %em
                = @minimum_password_length
                characters minimum
        .form-row
          = f.label :password_confirmation
          = f.password_field :password_confirmation, autocomplete: "off"
        .form-row
          = f.label :current_password
          = f.password_field :current_password, autocomplete: "off"
        .form-row
          .black-text
            %i (we need your current password to confirm your changes)
        .rule
      .form-footer
        = f.submit "Update"
      .rule
    %br/
    #{button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'delete-button'}
